---

const {post} = Astro.props 
const words =  post.data.description.split(" ");
const twentyWords = words.slice(0,30).join(" ");



---
<div class="rounded-md flex flex-col">
    <img src={post.data.image.url} alt={post.data.image.alt} class="h-[20rem] object-cover w-full rounded-tl-md rounded-tr-md">
    <div class="p-6">
        <h4 class="pb-3">{post.data.title}</h4>
        <p class="text-base pb-5">{`${twentyWords} ...`}</p>
        <a href={`/blog/${post.slug}`} class="btn">Ver más</a>
    </div>
</div>