---
interface Props {
	title: string;
	description : string;
}

const { title } = Astro.props;
const { description } = Astro.props;

import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import WhatsApp from '../components/WhatsApp.astro';
import '../styles/style.css'
---

<!doctype html>
<html lang="es">
	<head>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<script src="https://kit.fontawesome.com/3cf3afd2bb.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title}/>
		<meta property="og:description" content={description} />
		<meta property="og:image" content="images/Tzicuri-logo-_vector.png" />

		<!-- Twitter -->

		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content="images/Tzicuri-logo-_vector.png" />
	</head>

	<body>
		<Navbar />
		<slot />
		<Footer />
		<WhatsApp />

		<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script is:inline src="../../app.js"></script>
	</body>
	
</html>
